---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Agosto 2024",
    title: "Desarrollador de Software",
    company: "Cooperativa Ayacapé Ltda.",
    description:
      "Como Desarrollador en la Cooperativa Ayacapé Casa Central, diseñé e implementé soluciones de software utilizando GeneXus y Oracle SQL. Desarrollé aplicaciones internas que optimizaron procesos administrativos y de gestión de datos, mejorando la eficiencia operativa en un 20%. Colaboré con el equipo de TI para integrar nuevos módulos a los sistemas existentes, asegurando la alineación con los objetivos estratégicos de la organización. Realicé la implementación de control de operaciones basado en listas de sancionados ONU/OFAC, automatizando la verificación de socios en tiempo real. Desarrollé procesos de carga automática de datos XML a la base de datos y sistemas de alerta y actualización de listas para fortalecer la gestión de riesgos y compliance.",
    link: "",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
