---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Mayo 2025 - Actualmente",
    title: "Desarrollador de Software",
    company: "Biosafras Group",
    description:
      "Actualmente participaré en el desarrollo y mantenimiento de sistemas empresariales utilizando Odoo (PHP), Power BI y bases de datos en Microsoft Azure (MySQL), con miras a una futura migración a SQL. El rol incluye soporte del sistema, automatización de procesos y acompañamiento en proyectos de transformación digital.",
    link: "https://biosafrasgroup.com.py/",
  },
  {
    date: "Noviembre 2023 - Agosto 2024",
    title: "Desarrollador de Software",
    company: "Cooperativa Ayacapé Ltda.",
    description:
      "Como Desarrollador en la Cooperativa Ayacapé Casa Central, diseñé e implementé soluciones de software utilizando GeneXus y Oracle SQL. Desarrollé aplicaciones internas que optimizaron procesos administrativos y de gestión de datos, mejorando la eficiencia operativa en un 20%. Colaboré con el equipo de TI para integrar nuevos módulos a los sistemas existentes, asegurando la alineación con los objetivos estratégicos de la organización. Realicé la implementación de control de operaciones basado en listas de sancionados ONU/OFAC, automatizando la verificación de socios en tiempo real. Desarrollé procesos de carga automática de datos XML a la base de datos y sistemas de alerta y actualización de listas para fortalecer la gestión de riesgos y compliance.",
    link: "https://www.ayacape.coop.py/v3/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
