---
const personalImageAlt = "Pablo Ocampos";
import Badge from "./Badge.astro";
import LinkedinIcon from "./icons/LinkedIn.astro";
import GmailIcon from "./icons/Gmail.astro";
import GithubIcon from "./icons/GitHub.astro";
import DiscordIcon from "./icons/Discord.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16 hover:scale-105 border border-white hover:border-green-200 hover:grayscale-50"
      src="https://avatars.githubusercontent.com/u/127477502?s=400&u=e509c9d1c83b5db1830022d810c0538d694fe4e7&v=4"
      alt={personalImageAlt}
    />
    <a
      href="http://www.linkedin.com/in/pablo-m-ocampos"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola! Soy Pablo Ocampos
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <span class="text-blue-400 dark:text-blue-200/75"
      >+1 año de experiencia.</span
    >
    <span class="text-orange-400 dark:text-yellow-200/75 font-bold">
      Desarrollador web y de gestión empresarial.
    </span>
    <span class="text-red-400 dark:text-red-300/75"
      >De Alto Paraná, Paraguay.</span
    >
    <span class="text-amber-400 dark:text-amber-50/75">
      Especializado en crear aplicaciones personalizadas únicas.
    </span>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="http://www.linkedin.com/in/pablo-m-ocampos">
      <LinkedinIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/Pabl0sk1">
      <GithubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href="https://discordapp.com/users/918699279806255165">
      <DiscordIcon class="size-4 md:size-6" />
      Discord
    </SocialPill>
    <SocialPill href="mailto:pablo.mk.ocampos@gmail.com">
      <GmailIcon class="size-4 md:size-6" />
      pablo.mk.ocampos@gmail.com
    </SocialPill>
  </nav>
</div>
